.btn_block {
    margin: 30px 1rem;
}
b{font-weight: normal;color: #333}
.btn_groups{margin: 10px 1rem;justify-content: space-between;background: transparent;}
.btn_groups a{width: 45%;border-radius: 3px;height: 27px;line-height: 27px;text-align: center;font-size: 1.4rem}
/*多媒体添加*/
.mediaddWrapper{background: #fff;}
.mediaddWrapper > textarea{width: 100%;padding: 10px 1rem;color: #666;font-size: 12px}
.mediaddWrapper > input{width: 100%}
.mediaddBtns{display: flex;flex-direction: row;align-items: center;height: 36px;line-height: 36px;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5}
.mediaddBtns li{flex: 1;text-align: center;border-right: 1px solid #e5e5e5;color: #333;font-size: 1.4rem}
.mediaddBtns li i{color: #00abd8;margin-right:3px;}
.mediaddBtns li:last-child{border-right: 0}
.mediaddTitle{padding: 0 1rem;height: 40px;line-height: 40px;border-bottom: 1px solid #e5e5e5}
.mediaddTitle input{margin-left: 5px;font-size: 12px;color: #666;width: 70%}
.mediaddTitle label{color: #333}
.mediaddTitle label i{color: #00abd8;margin-right: 3px;vertical-align: middle;}

.mediaddList{width: 100%}
.mediaddList .mediaddItem{padding: 10px 1rem;border-bottom: 1px solid #e5e5e5;display: flex;flex-direction: row;align-items: center;justify-content: space-between;background: #fff}
.mediaddList .mediaddItem > img{width: 48px;height: 48px}
.mediaddList .mediaddItem p{width: 75%;overflow: hidden;word-break: break-all;white-space: pre-wrap;line-height: 1.5;text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
background: #f3f4f7;
padding: 5px 10px;
border-radius: 3px}
.mediaddList .mediaddItem .mediaddItem_btns{margin-left: 10px;width:24%;text-align: right;}
.mediaddItem_btns a{padding: 10px 2px}
.mediaddItem_btns i{font-size: 20px;color: #a0a0a0}
.mediaddList .mediaddItem p.audio{text-align: left;width: 48px;display: inline-block;padding:3px 10px;background: #f3f4f7;border-radius: 3px;position: relative;overflow: visible;margin-left: 10px}
.mediaddList .mediaddItem p.audio i{color: #666;vertical-align: baseline;font-size: 1.6rem}
.mediaddList .mediaddItem p.audio:before{
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    top: 10px;
    border: 5px solid transparent;
    border-right-color: #eee;
    transform: translateY(-50%);
}


/*小蜜助手设置*/
.stewardsetWrapper{width: 100%}
.stewardsetBox{background: #fff}
.stewardsetBox li{display: flex;flex-direction: row;align-items: center;justify-content: space-between;height: 48px;border-top: 1px solid #e5e5e5;font-size: 12px;margin-top: 0}
.stewardsetBox li > p{position: relative;width: 56%;text-indent: 32px;color: #666}
.stewardsetBox li input.switch{left: 0;right:auto;background: url(../images/switch_off.png) left center no-repeat;background-size: 26px 15px;z-index: 9}
.stewardsetBox li input.switch:checked{left: 0;right:auto;background: url(../images/switch_on.png) left center no-repeat;background-size: 26px 15px;z-index: 9}
.stewardsetBox li input[type="text"]{text-align: center;border: 1px solid #dcdcdc;width: 40%;padding: 5px;font-size: 12px;color: #333}

/*关键词设置*/
.addBtns{position: fixed;bottom: 20px;right: 1rem}
.addBtns a{background: rgba(0,0,0,0.5);display: block;height: 48px;width: 48px;border-radius: 24px;color: #fff;}
.addBtns a i{position: absolute;top: 50%;left:50%;transform: translate(-50%,-50%);font-size: 22px;}
.keyword_label{background: #fff;margin-top: 16px;}
.keyword_label h2{border-bottom: 1px solid #dcdcdc}
.keyword_label h2 a.fr{color: #00abd8;font-size: 12px}
.keyword_label h2 a.fr i{font-size: 14px;margin-left: 5px;}
.labelWrapper{}
.labelWrapper > p{padding:10px 1rem;color: #888;font-size: 12px}
.labelBox{display: flex;flex-direction: row;flex-wrap: wrap;padding: 10px 1rem 0;border-top: 1px dashed #e5e5e5;position: relative;height:32px;overflow: hidden;}
.labelBox li{margin-right: 10px;margin-bottom: 10px;padding: 3px 10px;border-radius: 2px;background: #f4f5f6;font-size: 12px}
.labelBox li.active{background: #00abd8;color: #fff}
.labelBox li i{color: #00abd8;}
.labelBox li.active i{color: #fff;}
.labelBox a#folderLabel{position: absolute;
    top: 0;
    right: 0;
    padding:10px;
    z-index: 0;
}
 .labelBox a#folderLabel.rotate{transform: rotate(90deg);}
.keyword_list{background: #fff;border-top: 1px solid #e5e5e5;padding-bottom: 10px}
.keyword_list h2{justify-content: space-between;}
.keyword_list h2 label{padding: 0 10px;vertical-align: 0.1rem}
.keyword_listMain,.labelMagage_list .label_listMain{border-top: 1px solid #e5e5e5}
.keyword_listPart,.labelMagage_list .label_listPart{margin:10px 1rem;border:1px solid #dcdcdc;border-radius: 5px;}
.keyword_listPart h3 , .labelMagage_list h3{padding: 0 10px;line-height: 2;border-bottom: 1px solid #e5e5e5;background: #eee;font-size: 14px;color: #666}
.keyword_listPart h3 i.rotate ,.labelMagage_list h3 i.rotate{transform: rotate(180deg);}
.keyword_listPart h3 i , .labelMagage_list h3 i{color: #a0a0a0}
.keyword_listPart h3 span, .labelMagage_list h3 span{flex: 1}
.keyword_listPart li{line-height: 1.5;}
.keyword_listPart .keyword_listItemtitle{border-bottom: 1px dashed #e5e5e5;position: relative;display: flex;flex-direction: row;align-items: center;justify-content: space-between;padding: 10px 10px 5px;width: 100%;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;}
.keyword_listPart .keyword_listItemtitle p{flex: 1;margin-left: 10px;width: calc(100% - 26px);width: -webkit-calc(100% - 26px);width: -moz-calc(100% - 26px);width: -o-calc(100% - 26px);z-index: 1}
.keyword_listPart .keyword_listItemtitle a{position: absolute;top: 10px;right: 10px;z-index: 0}
.keyword_listPart .keyword_listItemtitle a.rotate{transform: rotate(90deg);}
.keyword_listPart li > p{width: 84%}
.keyword_listPart li > a{width: 14%;text-align: right;}
.keyword_listPart li > a i{color: #a0a0a0}
.keyword_listPart li span , .labelMagage_list li span{background: #f4f5f6;border-radius: 3px;margin-right: 5px;margin-bottom: 5px;padding: 2px 8px;display: inline-block;color: #666}
.keyword_listPart li:last-child .keyword_listItemtitle,.keyword_addList li:last-child {border-bottom: none}

#keyword_edit{border-bottom:1px solid #e5e5e5;}
.keyword_addList{background: #fff}
.keyword_addList h3,.keywordReply h3{padding:0 10px;position: relative;font-size: 14px;border-bottom: 1px solid #e5e5e5;background: #f0f0f0}
.keyword_addList h3 small,.keywordReply h3 small{color: #a0a0a0}
.keyword_addList h3 a,.keywordReply h3 a{color: #00abd8;position: absolute;font-size: 12px;right: 0;top: 0;padding:0 10px}
.keyword_addList li{padding:5px 10px;display: flex;flex-direction: row;align-items: center;justify-content: space-between;border-bottom: 1px dashed #e5e5e5}
.keyword_addList li input{color: #666;padding: 5px;width: 70%;border:1px solid #e5e5e5;}
.keyword_addList li > p{width: 24%;text-align: right;}
.keyword_addList li input:disabled,.keyword_addList li input[readonly]{background: #fff;color:#666 !important;-webkit-text-fill-color: rgba(102, 102, 102, 1) !important;opacity:1 !important}
.keyword_addList li > h4{background: #fff;color:#666 !important;width: 70%;}
.keyword_addList li a{padding: 0 5px;color: #a0a0a0}

#keywordsInputWrapper{max-height: 196px;min-height: 128px;overflow-y: scroll;}
#keywordsInputWrapper input{border-bottom: none}
#keywordsInputWrapper ul{padding: 0 1rem}
#keywordsInputWrapper li{display: inline-block;}
#keywordsInputWrapper span{position: relative;word-break: break-all;background: #e6e6e6;border-radius: 3px;margin-right: 10px;margin-top: 10px;padding: 3px 12px;display: inline-block;color: #666}
#keywordsInputWrapper span:after{content: "×";display: block;right: -5px;top: -6px;position: absolute;font-size: 12px;width: 15px;height: 15px;border-radius: 8px;background: #fff;line-height: 15px;text-align: center;color: #333;border: 1px solid #dcdcdc}

.keywordReply{border-top: 1px solid #e5e5e5}
.keywordReply .keywords_labelist{background: #fff;}
.keywordReply .keywords_labelist li a{color: #00abd8;flex:1;text-align: right;}
.keywordReply .keywords_labelist li{padding: 10px 1rem;justify-content: space-between;}
.keywordReply .keywords_labelist li span{background: #f4f5f6;border-radius: 3px;margin-right: 5px;margin-bottom: 5px;padding: 2px 8px;display: inline-block;color: #666}
.keyword_add h3{line-height: 2}

/*添加关键词*/
.lableList{max-height: 198px;overflow-y: scroll;border-top: 1px solid #e5e5e5;padding-bottom: 5px}
.lableList li{padding: 10px 1rem 5px;border-bottom: 1px dashed #e5e5e5}
.lableList li label{display: flex;flex-direction: row;align-items: center;flex-wrap: wrap;position: relative;padding-right: 24px}
.lableList li span{background: #e6e6e6;border-radius: 3px;margin-right: 5px;margin-bottom: 5px;padding: 2px 8px;display: inline-block;color: #666;max-width: 70%}
.lableList li label input{position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
.lableList li:last-child{border-bottom: none;padding-bottom: 0}
#lablebox .search,#lablebox .search input,#KeysmatchWrapper .search , #KeysmatchWrapper .search input{background: #eee;}
#lableChose .addNewlabel{padding: 10px 1rem;border-top: 1px solid #dcdcdc}
#lableChose .addNewlabel input[type="text"]{width: 55%;border: 1px solid #e5e5e5;height: 27px;line-height: 27px;margin-left: 5px;padding: 0 5px}

.labelMagage_list{background: #fff;padding-bottom: 10px}
/*.label_listMain .label_listPart{background: #f0f0f0;}*/
.labelMagage_list h2{justify-content: space-between;}
.labelMagage_list h2 label{padding: 0 10px;vertical-align: 0.1rem}
.labelMagage_list li{border-bottom: 1px dashed #e5e5e5;position: relative;display: flex;flex-direction: row;align-items: center;padding: 10px 10px 5px;width: 100%;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;}
.labelMagage_list li:last-child{border-bottom: none}
.labelMagage_list li p{flex: 1;position: relative;}
.labelMagage_list li p a{position: absolute;right: 0;top:0;padding-left:10px}
.labelMagage_list li p a i{color: #a0a0a0;font-size: 18px;}
.labelMagage_list .btn_addkeys{display: block;width: 50%;margin: 20px auto;padding:5px;border-radius: 3px;text-align: center;font-size: 14px}
#KeysmatchWrapper  .lableList{margin-top: 10px}

/*批量通知*/

/*定时提醒*/
.remindItem{background: #fff;padding: 10px 1rem;justify-content: space-between;margin-bottom: 16px}
.remindItem input[name="remindItem"]{border:1px solid #a0a0a0;width: 16px;height: 16px;border-radius: 50%;background: #fff;vertical-align: middle;}
.remindItem input[name="remindItem"]:checked{border:none;background:#00abd8 url(../images/ico-tick.png) center center no-repeat;background-size: 8px;}
.remindItemcon{flex: 1;margin:0 16px;width: calc(100% - 2rem -74px);width: -webkit-calc(100% - 2rem -74px);width: -moz-calc(100% - 2rem -74px);}
.remindItemcon h3{font-size: 18px;color: #333}
.remindItemcon h3 small{display: inline-block;margin-left: 5px;font-size: 12px;color: #fff;background: #ff9b5f;padding: 2px 6px;border-radius: 3px;vertical-align: text-bottom;}
.remindItemcon p{margin-top: 5px}
.remindItemcon p span{
    padding:2px 5px;
    margin-right: 5px;
    margin-bottom: 5px; 
    background: #eee;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    font-size:12px;
}

.remindtimeWrapper{background: #fff;}
.remindtimeWrapper h3{color: #212121;font-size: 1.4rem}
.remindtimeWrapper > section{border-bottom: 1px solid #dcdcdc;padding:10px 1rem}
.remindtimeBox{margin-left: 21px;margin-top: 10px;}
.remindtimeBox .choseTime{border:1px solid #dcdcdc;width: 50%;height: 24px;line-height: 24px;margin-bottom: 10px;border-radius: 3px}
.remindtimeBox .choseTime span{background: #a0a0a0;display: inline-block;width: 24%;text-align: center;}
.remindtimeBox .choseTime i{color: #fff;}
.remindtimeBox .choseTime input{width: 70%;text-align: center;color: #666}
.remindtimeBox .choseDate{position: relative;}
.remindtimeBox .choseDate b{vertical-align: 0.7rem;}
.remindtimeBox .choseDate label{position: relative;margin-right: 5px;display: inline-block;width: 27px;height: 27px;overflow: hidden;}
.remindtimeBox .choseDate label span{background: #eee;border-radius: 14px;line-height: 27px;text-align: center;display: block;}
.remindtimeBox .choseDate label input{position: absolute;width: 100%;height: 100%;left: 0;top:0;opacity:0}
.remindtimeBox .choseDate label input:checked + span{background: #f2572d;color: #fff}
.remindtimeWrapper .form_whiteline{margin-top: 0}

/*微信群主更替*/
.managerReplaceTop{font-size: 14px;margin: 20px auto 10px}
.managerReplace ul{background: #fff;padding: 5px 1rem;font-size: 13px;color: #333}
.managerReplace li{padding: 5px 0;list-style-position: inside;list-style-type: decimal;}




